:root {
  font-family: system-ui, -apple-system, sans-serif;
  line-height: 1.5;
  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0f172a;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
}

#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}